html, body {
    height: 100%;
    margin: 0;
    padding: 0 0 2% 0;
}
body {
    background-color: #A9A9A9;
}
#mainContainer {
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand {
    font-size: 2em;
    color: white;
}
.navbar-header {
    float: none;
    display: inline-block;
}
.navbar {
    text-align: center;
}
.col-md-4 {
    word-wrap: break-word;
}
.row {
    padding: inherit;
}
#listContainer {
    width: initial;
    padding: 0;
}

.resultItem {
    cursor: pointer;
}
.resultItem:hover {
    text-shadow: 2px 2px 4px #bcb5b5;
}


.panel-body {
    height: 250px;
    overflow-y: scroll;
}



.maps {
    border: 1px solid black;
    padding: 0;
    height: 100%;
}

/* Sidebar */
#zeroResult {
    color: red;
    text-align: center;
    width: 100%;
}


/* Button */
.myBtn {
    margin-left: 60%;
}

/* Info Window */
.infoWindow {
    width: 250px;
    height: 250px;
}
#infoImg {
    width: 250px;
    height: 140px;
}

/* Google Map */

@media screen and (min-width: 992px) {
    #map {
        /* height: 100%; */
        height: 500px;
    }
}

@media screen and (max-width: 359px) {
    /* Button */
    .myBtn {
        margin-left: 45%;
    }
}

@media screen and (min-width: 360px) and (max-width: 375px) {
    /* Button */
    .myBtn {
        margin-left: 54%;
    }
}

@media screen and (min-width: 568px) and (max-width: 631px) {
    /* Button */
    .myBtn {
        margin-left: 74%;
    }
}
@media screen and (min-width: 632px) and (max-width: 708px) {
    /* Button */
    .myBtn {
        margin-left: 77%;
    }
}
@media screen and (min-width: 709px) and (max-width: 991px) {
    /* Button */
    .myBtn {
        margin-left: 80%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
    /* Button */
    .myBtn {
        margin-left: 50%;
    }
}

@media screen and (max-width: 992px) {
    #map {
        /* height: 100%; */
        height: 400px;
    }
    #mapPadding {
        padding-bottom: 5%;
    }
    /* Info Window */
    .infoWindow {
        width: 200px;
        height: 200px;
    }
    #infoImg {
        width: 200px;
        height: 100px;
    }
}